@charset "UTF-8";

.c-titles__title{
  font-family: 'Murecho', sans-serif;
}

.c-info-card__btn{
  font-size: ;
  width: ;
}

.p-btn{
  font-size: ;
  width: ;
}

.c-btn{
  color: ;
  border-radius: ;
}