/* =====================
吹き出し
=======================*/

/* 本体 */
.c-balloon-wrapper {
    display: flex;
  .c-balloon {
    width: 300px;
    // top: 30px;
    position: relative;
    padding: 20px;
    border-radius: 10px;
    color: #143423;
    background-color: #66CDAA;
      &::before {
        content: '';
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        right: -10px;
        top: 40px;
        border-left: 10px solid #66CDAA;
        border-top: 5px solid transparent;
    }
  }
  .icon {
    width: 300px;
  }
}
